*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;    
}

header{
    margin: 5px;
}

.img-lector{
    position: relative;
    display: none;
}

.todo .seccion-informativa .contenedor-resultado{
    position: relative;
    display: none;
}

.logo-alura{
    margin: 20px;
    margin-bottom: 70px;
}

.seccion1 {
    margin: 20px;
}

.seccion1 .contenedor-caja-texto {
    color: #0A3871;
}

.seccion1 .contenedor-caja-texto textarea{
    width: 100%;
    height: 200px;
    border: none;
    font-size: 32px;
    color: #0A3871;
}

.seccion1 .alerta{
    display: flex;
    gap: 10px
}

.seccion1 .contenedor-botones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.seccion1 .contenedor-botones .boton-encriptar{
    width: 100%;
    height: 15vh;
    background-color: #0A3871;
    color: #F3F5FC;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.seccion1 .contenedor-botones .boton-encriptar:hover{
    font-weight: bold;
    background-color: #ffffff;
    color: #0A3871;
}
    
.seccion1 .contenedor-botones .boton-desencriptar{
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    border-radius: 15px;
    border-width: 1px;
    font-weight: bold;
    cursor: pointer;
}

.seccion1 .contenedor-botones .boton-desencriptar:hover{
    font-weight: bold;
    background-color: #0A3871;
    color: #F3F5FC;
}

.seccion1 .alerta .texto-minusculas{
    font-size: 12px;
    color: #495057;
    background-color: #F3F5FC;
}

.seccion-informativa{
    margin: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-informativa .contenedor-parrafo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.seccion-informativa .contenedor-parrafo h3,p{
    background-color: #ffffff;
    color: #343A40;
}

.seccion-informativa .contenedor-copiar{
    display: flex;
    justify-content: center;
}


.seccion-informativa .contenedor-resultado{
    /* display: none; */
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    gap: 50px;
    
}   

.seccion-informativa .contenedor-resultado .texto-resultado{
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: left;
    gap: 50px;
    color: #495057;
    font-size: 20px;
} 

.seccion-informativa .contenedor-resultado .boton-copiar{
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    border-radius: 20px;
    border-width: 1px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.seccion-informativa .contenedor-resultado .boton-copiar:hover{
    font-weight: bold;
    background-color: #0A3871;
    color: #F3F5FC;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

@media screen and (min-width:641px) and (max-width:1007px) /* Tablet */
{   

.seccion1 .contenedor-botones{
    display: flex;
    flex-direction: row;
}

}

@media screen and (min-width:1008px) /* PC */
{

    /* header {
        display: flex;
        background-color: chartreuse;
    } */

    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 25%; */
    }

    .todo .seccion1{
        display: flex;
        width: 60%;
        height: 1000px;
        padding: 10px;
        /* background-color: rgb(30, 255, 0); */
        flex-direction: column;
        margin-left: 200px;
    }

    .todo .seccion1 .contenedor-caja-texto{
        /* background-color: blueviolet; */
        display: flex;
        justify-content: center;
        padding: 10px;
        height: 100%;
    }

    .todo .seccion1 .contenedor-caja-texto .cajatexto{
        height: auto;
        /* background-color: bisque; */
    }

    .todo .seccion1 .contenedor-botones{
        /* background-color: cornflowerblue; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px;
        gap: 20;
    }

    .todo .seccion1 .contenedor-botones .boton-encriptar{
        border-radius: 25px;
        width: 300px;
        height: 60px;
    }

    .todo .seccion1 .contenedor-botones .boton-desencriptar{
        border-radius: 25px;
        width: 300px;
        height: 60px;
    }

    .todo .seccion-informativa{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 1000px;
        padding: 10px;
        /* background-color: aqua; */
        flex-direction: column;
    }

    .img-lector{
        display: block;
        /* position: relative; */
    }

    .todo .seccion-informativa .contenedor-parrafo{
        position: relative;
        display: block;
        width: 100%;
        /* background-color: #343A40; */
    }

    .todo .seccion-informativa .contenedor-resultado{
        position: relative;
        /* display: none; */
        align-items: center;
        justify-content: center;
        /* background-color: darkkhaki; */
        width: 100%;
    }

    .todo .seccion-informativa .contenedor-resultado .boton-copiar{
        border-radius: 25px;
        width: 300px;
        height: 60px;
    }
}