*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: auto;
    height: auto;
}

.logo-alura{
    width: fixed 120px;
    height: fixed 48px;
    padding-top: 40px;
    padding-left: 40px;
    gap: 40px;
}

.todo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor-caja-texto {
    position: relative;
    left: 100px;
    top: 100px;
    padding-left: 100px;
    width: 680px;
    height: 400px;
    color: red;
}

.cajatexto{
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    border: 0;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.cajatexto::placeholder{
    color: #0A3871;
}

.alerta{
    position: absolute;
    top: 750px;
    left: 150px;
    display: flex;
    color: #495057;
}

.contenedor-botones{
    position: relative;
    top: 370px;
    height: 180px;
    left: 150px;
    /* padding-left: 15%; */
    /* padding-top: 15px; */
}

.boton-encriptar{
    width: 320px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    margin-right: 20px;
    cursor: pointer;
}

.boton-desencriptar{
    width: 320px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0a3871;
    /* margin-right: 20px; */
    cursor: pointer;
}

.seccion-informativa{
    display: block;
    position: relative;
    top: 15px; 
    left: 5px;
    width: 400px;
    height: 850px;
    /* right: 200px; */
    /* left: 50px; */
    
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedor-lupa{                   /* Contenedor-munieco */
    position: relative;
    width: 400px;
    height: 400px;
    left: 40px;
    top: 283px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    width: 330px;
    height: 100px;
    top: 620px;
    left: 60px;
    gap: 16px;
}

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #343a40;
}

.contenedor-parrafo p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado{
    display: none;
    position: relative;
    width: 336px;
    height: 450px;
    /* top: 72px; */
    /* left: 1032px; */
    box-sizing: border-box;
    /* color: #495057; */
    /* border-color: #ff0000; */
    font-size: 25px;
    margin-left: 25px;
}

.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
    padding: 2px;
}

 .texto-resultado{
    width: 330px;
    height: 775px;
    top: 72px;
    left: 1032px;
    color: #495057;
    /* border-color: #ff0000; */
    display: inline;
} 

.boton-copiar{
    display: block;
    width: 328px;
    height: 67px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0a3871;
    cursor: pointer;
    /* top: 05px; */
    /* left: 40px; */
}

.ocultar {
    display: none;
}


@media screen and (max-width:880px) {   /* Tablet */
    body{
        background-color: aqua;
    }
    
    main {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    header {
        width: 100%;
        height: 100%;
    }
    
    .logo-alura{
        /* width: 31.09px; */
        /* height: 50px; */
        padding-top: 73.42px;
        padding-left: 40px;
        gap: 40px;
    }

    .seccion-informativa{
        display: block;
        position: relative;
        /* top: 0px; */
        /* bottom: 15px;  */
        left: 75px;
        right: 75px;
        width: 680px;
        height: 233px;
        /* right: 200px; */
        /* left: 50px; */
        
        padding-right: 20px;
        background-color: #ff0000;
        box-sizing: border-box;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    }

    .contenedor-botones{
        position: relative;
        width: 680px;
        height: 133px;
        top: 500px;
        /* bottom: 500px; */
        right: 75px;
        left: 75px;
        /* padding-left: 15%; */
        /* padding-top: 15px; */
    }

    .contenedor-caja-texto {
        position: relative;
        left: 40px;
        /* top: 240px;
        padding: 100px; */
        width: 680px;
        height: 48px;
        
    }

    .alerta{
        position: relative;
        /* width: 239px; */
        height: 18px;
        top: 500px;
        /* bottom: 400px; */
        left: 100px;
        gap: 8px;
        display: flex;
        color: #495057;
    }

    .contenedor-resultado{
        position: absolute;
        width: 336px;
        height: 450px;
        top: 10px;
        box-sizing: border-box;
        font-size: 25px;
        margin-left: 25px;
    }

    .contenedor-parrafo{
        /* position: relative; */
        /* box-sizing: border-box; */
        /* width: 330px; */
        /* height: 100px; */
        top: -390px;
        left: 180px;
        /* gap: 16px; */
    }

    .boton-copiar{
        display: inline;
        
    }
}